.menu__list-item {
    list-style: none;
    padding: 30px 50px;
    margin:0;
    transition: background-color 1s ease;
    
}

.menu__list-item:hover {
    background-color: #13c2cb;
   }

   @media screen and (max-width: 909px) {
    .menu__list-item {
        padding: 20px 20px;
    }
  }
  @media screen and (max-width: 606px) {
    .menu__list-item {
        padding: 10px 10px;
    }
  }

  @media screen and (max-width: 414x) {
    .menu__list-item {
        padding: 30px 50px;
    }
  }
 